h1 {
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: "Abril Fatface";
    padding: 10px;
    border-radius: 20px;
}

#hotTopic {
    font-family: Jura;
    display: inline-block;
    top: 10px;
    text-decoration: underline;
    left: 70px;
    position: relative;
}

ul {
    width: 200px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul li {
    color: #6f666c;
    font-family: "Josefin Slab";
    padding: 10px 20px;
    border-right: 1px solid #6f666c;
    border-left: 1px solid #6f666c;
    text-decoration: none;
}

#webSpectrum2 {
    position: relative;
    color: blue;
    display: inline-block;
    width: 1200px;
    left: 20px;
    bottom: 100px;
    background: linear-gradient(90deg, blue, red);
    border-radius: 100px;
    z-index: 9;
}

#logo {
    position: relative;
    display: inline-block;
    left: 810px;
    bottom: 187px;
    z-index: 10;
    height: 100px;
    width: 100px;
}

#verticalLine {
    position: relative;
    display: inline-block;
    left: 275px;
    bottom: 310px;
    height: 350px;
    width: 10px;
}

.topics a {
    color: #6f666c;
    text-decoration: none;
}

